@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --BODY-FONT:'Open Sans', sans-serif;
    --HEADING-FONT: 'Montserrat' , sans-serif;

    --PRIMARY-COLOR: #0A1128;
    --WHITE: #FFF;
    --LIGHT-GREY-LINE: #EEEEEE;
    --SECONDARY-COLOR: darkcyan;

    --GAP: 3rem;

    --FONT-MEDIUM: 4rem
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    color: var(--PRIMARY-COLOR);
    font-family: var(--BODY-FONT) ;
    font-size: 2rem;
    line-height: 1.4;
    
}
h1,h1,h3,h4,h5,h6 {
    font-family: var(--HEADING-FONT);
    font-weight: 900;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
   font-size: 6rem;
    line-height: 1.1;
    margin-bottom: 5rem;
    text-transform: uppercase;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {font-size: 3.5rem ;}

a {
    text-decoration: none;
}
p {
    margin-bottom: 3rem;
}
.main-bg {
    color: var(--WHITE);
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center center;
}
.white-bg {
    background-color: var(--WHITE);
    color: var(--PRIMARY-COLOR);
}
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem var(--GAP);
}

.section {
    min-height: 100vh;
}
body section.first-section {
    padding-top: 8rem ;
}
.close-menu {
    display: none;
}
.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.01rem solid var(--LIGHT-GREY-LINE);
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1 {
    font-size: 2.3rem;
    color: var(--PRIMARY-COLOR);
}
.menu h1 a {
    color: inherit;
}
.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--PRIMARY-COLOR);
    position: relative;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background-color: var(--SECONDARY-COLOR);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    left: 25%;
    width: 50%;
}
.intro-content {
    position: relative;
    display: grid;
    grid-auto-flow: row wrap;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--GAP); 
    align-items: center;   

    min-height: 100vh;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}
.top3-content {
    text-align: center;
    max-width: 70rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.grid-main-heading {
    margin-bottom: 1rem;
}
.grid-description{
    margin-bottom: 6rem;
}

 .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--GAP);
    counter-reset: grid-counter;
    
 }
 .grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
 }

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter) ;
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -0.5rem;
    transform: rotate(3deg);

}
.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.gallery-img  img {
    transition: all 400ms ease-in-out;


}
.gallery-img img:hover  {
    transform: translate(-3%, 3%)scale(1.15) rotate(2deg);
}
.responsive-table {
    overflow-x: auto;
}
table {
    width: 100%;
    min-width: 40rem;
    border-collapse: collapse;

}
table caption {
    text-align: left;
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
td, th {
    white-space: nowrap;
    border: 0.1rem solid var(--LIGHT-GREY-LINE);
    padding: 1rem;
    text-align: left;
}
th {
    background-color: var(--LIGHT-GREY-LINE);
}
tfoot td {
    text-align: right;
    background-color: var(--LIGHT-GREY-LINE);
}
.contact-form {
    grid-column: span 2;
}
.contact-form .form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--GAP);
}
.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.form-group {
    flex: 1 1 320px;
}
.form-group label {
    display: block;
    margin-bottom: 1rem;
}
.form-group input, textarea {
    border: none;
    background-color: var(--WHITE);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2.5rem;
    outline: none;

}
.form-group input:focus ,textarea:focus {
    box-shadow: 1px 0px 10px 2px  var(--SECONDARY-COLOR);
}
body .full-width {
    width: 100%;
    flex: 1 1 100%;
}
.form-grid button {
    border: 0.5rem solid var(--WHITE);
    background-color: transparent;
    color: var(--WHITE);
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
button:hover {
    background-color: var(--WHITE);
    color: var(--PRIMARY-COLOR);
}
.form-group ::placeholder {
    color: var(--LIGHT-GREY-LINE);
}
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    color: var(--PRIMARY-COLOR);
    background-color: var(--WHITE);
    border-radius: 50%;
    padding: 1rem;
    transform: rotate(-90deg);
    border: 0.1rem solid var(--PRIMARY-COLOR);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-to-top a {
    color: var(--WHITE);
}

#footer {
    text-align: center;
    font-size: 1.6rem;
}
footer a {
    color: inherit;
}
footer p {
    margin: 0;
    padding: 2rem;
}